body {
    margin: 0;
    padding-top: 40px;
    color: #222222;
    background: #00b6a1;
    position: relative;
    height: 100%;
    font-family: Montserrat;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #f85a40;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    /* background: #ffffff; */
    background: #effff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.donate-btn{
  margin: 5% 3% 5% 0;
}
/*#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 5rem;
   padding-top: 20px;
   text-align: center;
   background-color: #f85a40;
   color: #008374;
   font-family: "Montserrat";
   line-height: 1.5;
   font-size: 0.8rem;
   /* padding-bottom: 30px; */
 }
/*.social-media{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #00b6a1;
  font-size: 1rem;
}*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
